body{
    margin: 0%;
}
#gmail{
    margin-right: 10px;
    color: #DBDBDB ;
    font-size: 13px;
    font-family: Arial, sans-serif;
    margin-left: 5px;
}
#phone{
    color: #DBDBDB ;
    font-size: 13px;
    font-family: Arial, sans-serif;
    margin-left: 5px;
}
header{
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 0px ;
    background-color: rgb(172, 172, 172);
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.mail-phone{
    margin: 0%;
    background-color: rgb(172, 172, 172);
    display: flex;
    align-items: center;
    justify-content:space-around;

}
.logo-d{
    margin: 0%;
    background-color: rgb(172, 172, 172);
    display: flex;
    align-items: center;
    justify-content:space-around;

}

#fb{
    padding-top: 4px;
    padding-left: 3px ;
    padding-right: 3px;
}
#x{
    padding-top: 4px;
    padding-left: 3px ;
    padding-right: 3px;
}

.logo{
    margin-right: 10px ;
    background-color: grey;
    border-radius: 200px;
    align-items: center;
    padding: 0px;
}


.mail-icon{
    width: 25px;
    height: 30px;
}
#menu{
    display: flex;
    align-items: center;
    justify-content:space-around;
    box-shadow: 2px 2px 8px gray;
}
#menu ul{
    list-style: none;
    display: flex;
    align-items: center;
}
#menu li a {
    display: block;
    padding: 15px 20px;
    color: #000000;
    font-size: 20px;
    text-decoration: none;
}
#menu a:hover{
    color:#FF6FB1;
}
.btn{
    background-color: white;
    border: solid 2px #FF6FB1;
    color: #FF6FB1;
    font-size: 15px;
    padding: 10px;
    border-radius: 15px;
}
.btn:hover{
    background-color: #FF6FB1;
    color: white;
    transition: 0.5s ease;
    transform: translateX(10%);
}
#home{
    margin-top: 10px;
    display:flex;
    justify-content:space-around;
    align-items: center;
}
#Agency{
    margin: 0px;
    color: #FF6FB1;
}
#text{
    max-width: 30%;
}
#home{
    display: flex;
    justify-content: space-around;
    align-items: center;
}





@media (max-width: 768px) {

    header {
        flex-direction: column;
        text-align: center;
        gap: 8px;
    }

    .mail-phone,
    .logo-d {
        justify-content: center;
    }

    #menu {
        flex-direction: column;
        gap: 10px;
    }

    #menu ul {
        flex-direction: column;
    }

    #menu li a {
        font-size: 16px;
        padding: 10px;
    }

    #home {
        flex-direction: column;
        text-align: center;
    }
}