* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
}

/* PAGE */
.page {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* GREEN BACKGROUND */
.green {
    position: absolute;
    inset: 0;
    background: #4caf8a;
    clip-path: circle(65% at -10% 20%);
    transition: clip-path 1s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* TITLE */
.green h1 {
    color: white;
    font-size: 48px;
    position: absolute;
    left: 22%;
    transition: 1s ease;
}

/* CARDS */
.card {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    width: 320px;
    padding: 25px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
    transition: 1s ease;
}

.card input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: none;
    background: #eee;
    border-radius: 6px;
}

.card button {
    width: 100%;
    padding: 12px;
    background: #4caf8a;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.small {
    font-size: 11px;
    color: #777;
    text-align: center;
    margin-top: 8px;
}

.small span {
    color: #4caf8a;
    cursor: pointer;
}

/* SIGN UP HIDDEN */
.sign-up {
    left: 12%;
    opacity: 0;
    pointer-events: none;
    transform: translate(60px, -50%);
}

.page.active .green {
    clip-path: circle(65% at 100% 20%);
}

.page.active .green h1 {
    right: 12%;
    transform: translateX(70%);
}

.page.active .sign-in {
    opacity: 0;
    pointer-events: none;
    transform: translateY(60px,-50%);
}

.page.active .sign-up {
    
    opacity: 1;
    pointer-events: auto;
    transform: translateY(60px,-50%);
}


/* Mobile */
@media (max-width: 1300px) {
    .shape {
        left: -60%;
        width: 140%;
    }

    .card {
        right: 50%;
        transform: translate(50%, -50%);
    }
    .green h1{
        left: 40%;
        transform: translateY(-150%);
    }
    .page.active .green h1{
        left: 50%;
        transform: translateY(-150%);
    }
    .page.active .green {
    clip-path: circle(50% at 50% 5%);
}

    .green{
        clip-path: circle(50% at 50% 5%);
    }
    
    .sign-in{
        right: 12%;
        transform: translateY(50%);
    }

    .page.active .sign-up {
    left: 12%;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(50%);
}
}
