* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header


/* Header */
#logo {
    width: 200px;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* Navbar */
.nav {
    background-color: rgb(73, 73, 73);
    display: flex;
    justify-content: center;
    
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: rgb(17, 17, 17);
}

/* Home layout */
#home {
    display: flex;
    gap: 20px;
    padding: 20px;
}

/* Article */
article {
    width: 65%;
    background-color: aliceblue;
    border-left: 4px solid blue;
    padding: 15px;
}

/* Image */
#home img {
    width: 300px;
    height: auto;
}

/* Aside */
aside {
    width: 30%;
    background-color: aliceblue;
    border-left: 4px solid blue;
    padding: 15px;
}

/* Table */
#marks {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 2px solid #000;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ddd;
}

/* Services Grid */
.services {
    padding: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
   padding: 30px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 8px gray;
}
/* CONTACT */
.contact {
    padding: 20px;
}

form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 8px;
    border: 1px solid gray;
}

input:focus, textarea:focus {
    border-color: blue;
    outline: none;
}

button {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
}

button:hover {
    opacity: 0.7;
}

/* FOOTER */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
}

/* PSEUDO ELEMENTS */
h2::before {
    content: "★ ";
}

h2::after {
    content: " ★";
}
/* Responsive Design */
@media (max-width: 768px) {

    #home {
        flex-direction: column;
    }

    article,
    aside {
        width: 100%;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .nav ul {
        flex-direction: column;
        text-align: center;
    }
}


